/******************** COLORS *************************/

:root {
  --primary: #ffffff;
  --secondary: #000000;
  --light-blue: #B4D0E7;
  --blue: #0061FF;
  --border: rgb(168, 165, 165);
  --box-light-green: #A2D39B;
  --box-light-purple: #61082B;
  --box-light-blue: #0093CE;
  --box-light-light-red: #FF1C1C;
  --box-dark-red: #D5001F;
  --box-light-ciano: #B4D0E7;
  --box-dark-blue: #0D2481;
  --box-dark-yellow: #FFD830;
  --box-light-grey: #F5F5F5;
  --call-to-action: #B4D0E7;
}

.color-primary {
  color: var(--primary);
}

.background-color-primary {
  background-color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.background-color-secondary {
  background-color: var(--secondary);
}

.color-light-blue {
  color: var(--light-blue);
}

.background-color-light-blue {
  background-color: var(--light-blue);
}

.color-blue {
  color: var(--blue);
}

.background-color-blue {
  background-color: var(--blue);
}

.background-color-box-light-green {
  background-color: var(--box-light-green);
}

.color-light-purple {
  color: var(--box-light-purple);
}

.background-color-box-light-purple {
  background-color: var(--box-light-purple);
}

.background-color-box-light-blue {
  background-color: var(--box-light-blue);
}

.background-color-box-light-red {
  background-color: var(--box-light-light-red);
}

.background-color-box-dark-red {
  background-color: var(--box-dark-red);
}

.background-color-box-ciano {
  background-color: var(--box-light-ciano);
}

.background-color-box-dark-blue {
  background-color: var(--box-dark-blue);
}

.background-color-box-dark-yellow {
  background-color: var(--box-dark-yellow);
}

.color-call-to-action {
  color: var(--call-to-action);
}

.background-color-call-to-action {
  background-color: var(--call-to-action);
}

.background-color-box-light-grey {
  background-color: var(--box-light-grey);
}



/*************** DOCUMENT ***********************/


body {
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary);
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

.dropbox-button {
  padding: 15px;
  cursor: pointer;
  width: 250px;
  text-align: center;
}

.dropbox-button:hover {
  background-color: var(--box-light-blue);
  transition: 0.5s;
}

.margin-top-bottom-20 {
  margin: 20px 0;
}


/*************** HEADER ***********************/


header {
  height: 70px;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px var(--secondary);
  z-index: 1000;

}

.start {
  padding-top: 5px;
  padding-bottom: 5px;
}



/* BONUS: ombreggiatura menù*/


/*************** MAIN ***********************/

main section {
  margin: 10px auto 150px;
}


/***** HERO ***********/

#hero-container {
  padding: 0 10px;
}

h1 {
  font-weight: 900;
}

#hero-container div:not(.dropbox-button),
#hero-container h1,
#hero-container p {
  padding-bottom: 30px;
}

#hero-container .dropbox-button {
  margin-bottom: 30px;
}

/********* SECTION: PLANS **************/

#plans {
  padding-top: 70px;
}

/*serve per fare in modo che il titolo della sezione compaia una volta che clikko su la freccia nell'hero*/

.vertical-plan,
.orizzontal-plan,
.circle {
  border: var(--border) solid 1px;
}

#plans span:not(.radio-button-container span) {
  border-bottom: var(--border) solid 1px;
}

#plans span .fa-solid {
  margin-right: 5px;
}

#plans h2,
#plans>div {
  margin-bottom: 40px;
}

.vertical-plan {
  width: calc((100% - 60px) / 3);
  border: var(--border) solid 1px;
}

.content-plan>*,
#plans ul li {
  margin: 15px 0;
}

#plans ul {
  margin: 30px 0;
}

#plans .dropbox-button {
  padding: 12px 0;
}

#plans .space-bar {
  width: 60px;
  margin: 60px 0;
  border-bottom: var(--border) solid 1px;
}

.orizzontal-plan h4 {
  padding: 10px 0 30px 0;
}

/*************** SECTION:PLANS radio-button *****************/
/*costruisco un cerchio sopra all'imput che verrà nascosto con "opacity:0", e gli assegno un certo stile quando esso avrà la classe checked.*/

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin: 12px 40px 12px 0;
  cursor: pointer;
  font-size: 16px;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid var(--border);
  /* Colore del bordo del radio button */
  border-radius: 50px;
}

.radio-container:hover input~.radiomark {
  background-color: var(--box-light-ciano);
}

.radio-container input:checked~.radiomark {
  border: blue solid 4px;
}

/*** LI ICON ****/


.li-user::before {
  content: "\f007";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-folder::before {
  content: "\f07b";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-share::before {
  content: "\f1e0";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-check::before {
  content: "\f00c";
  color: var(--blue);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-team::before {
  content: "\f0c0";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

/************************* SECTION: PARTNERS **************/

#partners .dropbox-button {
  width: fit-content;
  padding: 10px;
  margin: 10px 0;
  border: var(--secondary) solid 1px;
}

#partners .dropbox-button:hover {
  background-color: var(--border);
  transition: 0.5s;
}

/************************* SECTION: OPERATIONs **************/

.operation-card {
  width: calc((100% - 40px) / 3);
}

#operations h2 {
  margin: 0 10px 30px 10px;
}

/************************* SECTION: COMMUNITY **************/

#community h2 {
  margin-bottom: 70px;
}

/************************* SECTION: SPONSOR and CALL TO ACTION **************/

.container-sponsor {
  width: calc(100% / 3);
}

#sponsor .space-bar {
  width: 180px;
  margin: 40px 0;
  border-bottom: var(--border) solid 1px;
}

.container-sponsor span {
  margin-top: 30px;
}


.single-sponsor:hover {
  border: 15px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
}


#call-to-action {
  padding: 100px 0;
}

#call-to-action .dropbox-button {
  border: var(--border) solid 1px;
  padding: 10px 50px;
  margin: 20px 10px;
}

#call-to-action .dropbox-button:hover {
  background-color: var(--border);
  transition: 0.5s;
}

/************************* SECTION: FAQ **************/

#faq>* {
  margin: 0 20px;
  padding: 30px 0;
}

#faq h2 {
  margin: 50px 20px;
}

#faq div {
  padding: 30px 0;
  border-top: var(--border) solid 1px;
}

#faq div:last-child {
  border-bottom: var(--border) solid 1px;
}

#faq strong {
  left: 0;
  top: 30px;
}

#faq details {
  z-index: 1;
}

/* quando restingo. la freccia siposizionerà sopra alla domanda*/

/************************* FOOOTER **************/

footer {
  padding: 50px 0 20px;
}

footer div h3 {
  padding: 20px 0;
}

footer div ul li {
  margin: 10px 0;
}

footer .space-bar {
  width: 180px;
  margin: 80px 0 40px;
  border-bottom: var(--border) solid 1px;
}

#lenguage>* {
  margin: 30px 0;
  padding-left: 10px;
}


/************************* BONUSES ***********************/


header .menu-index {
  padding: calc((70px - 22px) / 2) 10px;
}


/*dimensionato in mod che gli elmenti "menu-index" siano 70px come la navbar, in modo da inserire l'ombreggiatura*/

header .menu-index:not(.start>a):hover {
  border-bottom: var(--border) solid 2px;
}

/*do l'effetto ombreggiatura a tutti gli elementi nella lista escludendo l'ultimo bottone */



/* BONUS: menù a scorrimento + filtro*/

.menu {
  left: 0;
  top: 70px;
  display: none;
}

/*posiziono il menù in modo che compaia sotto alla voce selezionata e che sia invisibile finche non mi sposto sul elemento*/

.menu-list {
  width: 400px;
  max-width: 400px;
}

.menu-list>* {
  margin-left: 30px;
}

.menu-list a {
  color: var(--secondary);
}

.menu-list a:hover .menu-option {
  background-color: var(--call-to-action);
}

.menu-option {
  margin: 5px 0 0 0;
  border-radius: 20px;
}

/*colorazione delle voci del menu quando ci passo sopra*/

/* box - animation & padding to fix the position of the box */
.menu-list a:hover .fa-box {
  display: none;
}

.menu-list a:hover .fa-box-open {
  display: block;
}

.menu-list .fa-box {
  padding: 10px 48px 10px 0;
}

.menu-list .fa-box-open {
  padding: 10px 24px 10px 0;
}


.menu-list p {
  opacity: 0;
}

@keyframes rapid-visibility {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/*animation for text in the li of the scroll menu*/
.menu-list a:hover div>div>p {
  animation-name: rapid-visibility;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}



/*black-filter and background generation for the menu*/
header li:hover .menu-background,
header li:hover .black-filter,
header li:hover .menu {
  display: block;
}

/*disable scroll menu when hovering black-filter*/
header li .black-filter:hover {
  display: none;
}


/*animation for the scroll menu*/
header li:hover .menu-background {
  animation: scroll-menu;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes scroll-menu {
  from {
    height: 0;
  }

  to {
    height: 500px;
  }
}

.menu-background {
  display: none;
  height: 200px;
  background-color: #ffffff;
  border-top: var(--border) solid 1px;
  left: 0;
  top: 70px;
  cursor: default;
  z-index: -1;
}

.black-filter {
  display: none;
  position: fixed;
  top: 70px;
  right: 0;
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
  z-index: -2;
}