/******************** COLORS *************************/

:root {
  --primary: #ffffff;
  --secondary: #000000;
  --light-blue: #B4D0E7;
  --blue: #0061FF;
  --border: rgb(168, 165, 165);
  --box-light-green: #A2D39B;
  --box-light-purple: #61082B;
  --box-light-blue: #0093CE;
  --box-light-light-red: #FF1C1C;
  --box-dark-red: #D5001F;
  --box-light-ciano: #B4D0E7;
  --box-dark-blue: #0D2481;
  --box-dark-yellow: #FFD830;
  --box-light-grey: #F5F5F5;
  --call-to-action: #B4D0E7;
  --dropbox-box-color: rgb(174, 138, 102);
  --banner-background-color: #FF8C19;
}

.color-primary {
  color: var(--primary);
}

.background-color-primary {
  background-color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.background-color-secondary {
  background-color: var(--secondary);
}

.color-light-blue {
  color: var(--light-blue);
}

.background-color-light-blue {
  background-color: var(--light-blue);
}

.color-blue {
  color: var(--blue);
}

.background-color-blue {
  background-color: var(--blue);
}

.background-color-box-light-green {
  background-color: var(--box-light-green);
}

.color-light-purple {
  color: var(--box-light-purple);
}

.background-color-box-light-purple {
  background-color: var(--box-light-purple);
}

.background-color-box-light-blue {
  background-color: var(--box-light-blue);
}

.background-color-box-light-red {
  background-color: var(--box-light-light-red);
}

.background-color-box-dark-red {
  background-color: var(--box-dark-red);
}

.background-color-box-ciano {
  background-color: var(--box-light-ciano);
}

.background-color-box-dark-blue {
  background-color: var(--box-dark-blue);
}

.color-dark-blue {
  color: var(--box-dark-blue);
}

.background-color-box-dark-yellow {
  background-color: var(--box-dark-yellow);
}

.color-call-to-action {
  color: var(--call-to-action);
}

.background-color-call-to-action {
  background-color: var(--call-to-action);
}

.background-color-box-light-grey {
  background-color: var(--box-light-grey);
}

.color-dropbox {
  color: var(--dropbox-box-color);
}

.color-banner-background {
  color: var(--banner-background-color);
}

.background-color-banner-background {
  background-color: var(--banner-background-color);
}



/*************** DOCUMENT ***********************/


body {
  font-family: 'Open Sans', sans-serif;
  color: var(--secondary);
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

.dropbox-button {
  padding: 15px;
  cursor: pointer;
  width: 250px;
  text-align: center;
}

.dropbox-button:hover {
  background-color: var(--box-light-blue);
  transition: 0.5s;
}

.dropbox-border {
  border: var(--border) solid 1px;
}


/*************** HEADER ***********************/


header {
  height: 70px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px var(--secondary);
}

/* BONUS: ombreggiatura menù*/

.start {
  padding-top: 5px;
  padding-bottom: 5px;
}



/*************** MAIN ***********************/

#home main section {
  margin: 10px auto 150px;
}


/***** HERO ***********/

h1 {
  font-weight: 900;
}


/********* SECTION: PLANS **************/

/*padding-top-70*/
/*serve per fare in modo che il titolo della sezione compaia una volta che clikko su la freccia nell'hero*/



#plans span:not(.radio-button-container span) {
  border-bottom: var(--border) solid 1px;
}

.vertical-plan {
  width: calc((100% - 60px) / 3);
}




/*************** SECTION:PLANS radio-button *****************/
/*costruisco un cerchio sopra all'imput che verrà nascosto con "opacity:0", e gli assegno un certo stile quando esso avrà la classe checked.*/

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin: 12px 40px 12px 0;
  cursor: pointer;
  font-size: 16px;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid var(--border);
  /* Colore del bordo del radio button */
  border-radius: 50px;
}

.radio-container:hover input~.radiomark {
  background-color: var(--box-light-ciano);
}

.radio-container input:checked~.radiomark {
  border: var(--box-light-blue) solid 6px;
}

/*** LI ICON ****/


.li-user::before {
  content: "\f007";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-folder::before {
  content: "\f07b";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-share::before {
  content: "\f1e0";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-check::before {
  content: "\f00c";
  color: var(--blue);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

.li-team::before {
  content: "\f0c0";
  color: var(--secondary);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.2em;
}

/************************* SECTION: PARTNERS **************/

#partners .dropbox-button {
  width: auto;
}

#partners .dropbox-button:hover {
  background-color: var(--border);
  transition: 0.5s;
}

/************************* SECTION: OPERATIONs **************/

.operation-card {
  width: calc((100% - 40px) / 3);
}

/************************* SECTION: COMMUNITY **************/


/************************* SECTION: SPONSOR and CALL TO ACTION **************/

.container-sponsor {
  width: calc(100% / 3);
}


.single-sponsor:hover {
  border: 15px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
}


#call-to-action .dropbox-button:hover {
  background-color: var(--border);
  transition: 0.5s;
}

/************************* SECTION: FAQ **************/



#faq div {
  border-top: var(--border) solid 1px;
}

#faq div:last-child {
  border-bottom: var(--border) solid 1px;
}

#faq details summary {
  list-style: none;
}

#faq details summary::after {
  content: '\f078';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-left: 5px;
  font-weight: 900;
}

#faq details[open] summary::after {
  content: '\f077';
  font-family: 'Font Awesome 6 Free';
  display: inline-block;
  margin-left: 5px;
  font-weight: 900;
}

/************************* FOOOTER **************/



/************************* BONUSES ***********************/

/*Ombreggiatura degli li della navbar*/
header .menu-index {
  padding: calc((70px - 22px) / 2) 10px;
}


header .menu-index:not(.start>a):hover {
  border-bottom: var(--border) solid 5px;
}

/*dimensionato in mod che gli elmenti "menu-index" siano 70px come la navbar, in modo da inserire l'ombreggiatura*/



/* BONUS: menù a scorrimento + filtro*/

.menu {
  left: 0;
  top: 70px;
  display: none;
}

/*posiziono il menù in modo che compaia sotto alla voce selezionata e che sia invisibile finche non mi sposto sul elemento*/


.menu-option {
  border-radius: 20px;
}


/*black-filter and background generation for the menu*/
header li:hover .menu-background,
header li:hover .black-filter,
header li:hover .menu {
  display: block;
}

/*disable scroll menu when hovering black-filter*/
header li .black-filter:hover {
  display: none;
}

/*animation for the scroll menu*/
header li:hover .menu-background {
  animation: scroll-menu;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.menu-list {
  width: 400px;
}

.menu-background {
  display: none;
  height: 200px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0), var(--primary)), url(../img/screenshot/Boxes.jpg) center/cover no-repeat;
  background-repeat: no-repeat;
  background-position: 50%;
  border-top: var(--border) solid 1px;
  left: 0;
  top: 70px;
  cursor: default;
  z-index: -1;
}

.black-filter {
  display: none;
  position: fixed;
  top: 70px;
  right: 0;
  background-color: #000000;
  opacity: 0.7;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

/*colorazione delle voci del menu quando ci passo sopra*/
.menu-list a:hover .menu-option {
  background-color: var(--call-to-action);
}


/* box - animation & padding to fix the position of the box */
.menu-list a:hover .first-icon {
  display: none;
}

.menu-list a:hover .second-icon:not(.fa-cat) {
  display: block;
  color: var(--blue);
}

.menu-list a:hover .fa-cat {
  display: block;
}

.menu-list .first-icon {
  padding: 10px 34px 10px 0;
}

.menu-list .second-icon {
  padding: 10px 24px 10px 0;
}


/*animation for text in the li of the scroll menu*/
.menu-list a:hover div>div>p {
  animation-name: rapid-visibility;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
}





/******************************MY BONUS: HELP CHAT************************************/
#help {
  z-index: 3;
  right: 50px;
  bottom: 25px;
}

#help img {
  width: 310px;
  height: 615px;
  top: 33px;
  right: 64px;
}

#help textarea {
  width: 200px;
  height: 300px;
  resize: none;
  margin-right: 120px;
  border: none;
}

#help summary {
  opacity: 0;
  z-index: 3;
  margin-bottom: 150px
}

#help details p {
  z-index: 3;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  left: 46px;
  bottom: 358px;
}

#help .fa-dropbox {
  top: 0;
  right: 0;
  text-align: end;
  font-size: 5em;
  z-index: 2;
}

#help .help-banner {
  z-index: 2;
  right: -30px;
  top: 45px;
  width: 150px;
}

.help-banner h3 {
  width: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.help-banner p {
  width: 150px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}



/******************************** ENTERPRISE 
*******************************************************************/

.small-left-scroll {
  position: relative;
  left: 0;
  transition: left 0.5s;
}

.trigger-scroll-arrow:hover .small-left-scroll {
  left: 10px;
}

/********** ENTERPRISE:HERO *********/
#enterprise #hero {
  height: 600px;
}

#enterprise #hero img {
  object-fit: cover;
}

.opacity-85x100 {
  opacity: 0.85;
}


/********** ENTERPRISE:SECURITY *********/
.enterprise-card {
  width: calc((100% - 60px) / 4);
  min-width: 200px;
}

.enterprise-card>* {
  padding: 10px 0;
}

.enterprise-card a {
  text-decoration-color: grey;
}

.enterprise-card a:hover {
  text-decoration-color: inherit;
}